.projects_title {
  margin: 0;
  margin-bottom: 0.1em;
  padding: 55px 0;

  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.45rem;

  color: #cacaca;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.15);

  text-align: center;
  letter-spacing: -1px;
  text-transform: lowercase;
}

.projects {
  display: flex;
  flex-wrap: wrap;

  max-width: 960px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  @media #{$information_mobile} {
    max-width: 500px;
  }
}

.projects_page {
  overflow-y: scroll;
  height: 100vh;
}


.projects_page::-webkit-scrollbar {
  width: 6px;
}
.projects_page {
  scrollbar-width: thin;
  scrollbar-color: $scrollColorBG $scrollColor;
}
.projects_page::-webkit-scrollbar-track {
  background: $scrollColorBG;
}
.projects_page::-webkit-scrollbar-thumb {
  background-color: $scrollColor ;
}